
   /* .movie-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .detail-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .movie-details {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
  }
  
  .poster-container {
    margin-right: 20px;
  }
  
  .movie-poster {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-container {
    flex-grow: 1;
  }
  
  .movie-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-meta {
    margin-bottom: 10px;
  }
  
  .release-date,
  .runtime,
  .vote-average {
    margin-right: 15px;
    font-size: 14px;
  }
  
  .overview-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .overview {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .genres-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .genres-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .genre-item {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .casting-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .casting-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set 4 columns */
    /* grid-gap: 20px;
  }
  
  .cast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cast-profile {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cast-details {
    display: flex;
    flex-direction: column;
  }
  
  .cast-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cast-character {
    color: #666;
  }
  
  .trailer-container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
  } 
   */
   /* .movie-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .detail-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .movie-details {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
  }
  
  .poster-container {
    margin-right: 20px;
  }
  
  .movie-poster {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-container {
    flex-grow: 1;
  }
  
  .movie-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-meta {
    margin-bottom: 10px;
  }
  
  .release-date,
  .runtime,
  .vote-average {
    margin-right: 15px;
    font-size: 14px;
  }
  
  .overview-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .overview {
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
  }
  
  .genres-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .genres-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .genre-item {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .casting-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .casting-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .cast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cast-profile {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cast-details {
    display: flex;
    flex-direction: column;
  }
  
  .cast-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cast-character {
    color: #666;
  }
  
  .trailer-container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
  }
   */
   .movie-detail-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8;
   
  }
  
  .movie-details {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    background-size: 100%;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #1c1a1a;
  }
  
  .poster-container {
    margin-right: 20px;
  }
  
  .movie-poster {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-container {
    flex-grow: 1;
  }
  .overview{
    color:aliceblue;
  }
  
  .movie-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
  }
  
  .movie-meta {
    margin-bottom: 10px;
    
  }
  
  .release-date,
  .runtime,
  .vote-average {
    margin-right: 15px;
    font-size: 14px;
    color: aliceblue;
  }
  
  
  .genres-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
  }
  
  .genres-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .genre-item {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .casting-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .casting-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  /* .Casting-Details{
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ece4e4;
  } */
  
  .cast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cast-profile {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cast-details {
    display: flex;
    flex-direction: column;
  }
  
  .cast-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cast-character {
    color: #666;
  }
  
  .trailer-container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
  }
  